.collection-grid {
  display: grid;
  padding: 20px;
}
.heading {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #20639b;
}
.search-bar {
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 25px 0 42px 0;
}

.searchIcon {
  position: absolute;
  margin: 10px;
}

.plusIcon {
  color: #20639b;
  padding-top: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  align-items: top;
  justify-content: center;
  grid-gap: 5px;
  width: auto;
  text-align: center;
  padding: 10px;
}
.image-card {
  width: 94%;
  height: 370px;
  padding: 5px;
  background-color: #96ceb4;
}

.card-images {
  width: max(96%, 100%);
  height: 90%;
}

.breed-name {
  padding: 0;
  margin: 0;
}

.delete-btn {
  float: right;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 3px;
}

.delete-btn:hover {
  color: #ff6f69;
}

.autocomplete-input-panel {
  font-size: 1.3em;
  padding: 5px;
}

input {
  padding: 7px;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: none;
  font-size: 1.2em;
  border: 1px solid rgb(219, 217, 217);
  width: 50vw;
}

@media screen and (max-width: 1440px) {
  .image-card {
    height: 225px;
  }
  .card-images {
    width: 100%;
    height: 197px;
  }
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 35%);
  }
  .image-card {
    height: 170px;
  }
  .card-images {
    height: 80%;
  }

  .search-bar {
    margin: 9px 0 30px 0;
  }
  label {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 50%);
  }

  .image-card {
    height: 225px;
  }

  .card-images {
    height: 87%;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    grid-template-columns: repeat(1, 100%);
    margin-top: 10px;
  }

  .image-card {
    height: 280px;
  }

  .card-images {
    height: 90%;
  }

  input {
    width: 76vw;
  }

  button {
    margin: 8px 0 8px 10px;
    width: 280px;
  }
}
