.roundButton {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  font-size: 3em;
  background-color: transparent;
  border: 2px solid #20639b;
  cursor: pointer;
  text-align: center;
}

.random-breed-card {
  display: flex;
  background-color: transparent;
  outline: 3px solid #96ceb4;
  align-items: center;
  justify-content: center;
}
