header {
  background-color: #96ceb4;
  height: 80px;
  padding: 10px;
}

nav {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.logo-cont {
  justify-self: right;
}

.logo {
  text-decoration: none;
  color: #20639b;
  font-size: 2.2em;
  margin-left: 22px;
}

.app-name {
  font-size: 2.5em;
  font-weight: bold;
  display: inline;
}

.nav-links {
  justify-self: flex-end;
  margin-right: 25px;
  text-decoration: none;
  color: #222;
  font-size: 1em;
  font-weight: bold;
}
